<?php

/*
 * Webfilez Config
 *
 * Copy config.sample.php to config.php!
 */

/**
 * Autobuild Paths?
 *
 * Will attempt to create directories if they
 * don't already exist
 */
$config['autobuild'] = TRUE;

/**
 * For debugging purposes; if slow is equal to true,
 * then uploading will happen very slowly.  Keep off
 * for production!
 */
$config['slow'] = FALSE;

/* EOF: config.php */