/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  CLEARFIX
\*------------------------------------*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.clear {
  clear: both;
  display: block;
  height: 1px;
  color: transparent;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

/* ===== Layout ====== */

body > header {
  background-color: #333;
  color: #FFF;
  padding: 5px;
  border-bottom: 1px solid #000;
}

body > footer {
  display: none;
  height: 0;
  background-color: #333;
  border-top: 1px solid #000;
  color: #FFF;
  padding: 5px;
  font-size: 0.9em;
}

body > header a,
body > footer a {
  color: #FFF;
}

#main {
  clear: both;
}

#main > #uploader {
  float: left;
  width: 300px;
  background-color: #F2F2F2;
  box-shadow: 5px 1px 5px #888;
}

#main > #filemgr {
  float: none;
  margin-left: 320px
}

/* ==== Uploader ==== */
#uploader #current_upload {
  background-color: #CCC;
  margin: 8px;
  padding: 5px;
}

#uploader #current_upload #current_upload_status {
  margin: 4px;
  display: block;
}

#uploader #current_upload #upload_start {
  float: right;
}

#uploader #queue_status {
  margin: 8px;
  padding: 5px;
}

#uploader #upload_queue {
  margin: 8px;
  overflow-y: scroll;
}

#uploader #upload_queue.nofiles {
  background-image: url('../img/dragdropmsg.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#uploader #file_button_form {
  margin: 8px;
  padding: 4px 0;
  position: relative;
  background-color: #999;
  border-radius: 10px;
  text-align: center;
}

#uploader #file_button_form > label {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

#uploader #file_button_form > input {
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  cursor: pointer !important;
}


#filemgr {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

#filemgr .breadcrumbpanel {
  display: block;
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

#filemgr .breadcrumbsection {
  margin: 10px;
  background-color: #CCC;
  padding: 10px 15px 3px 15px;
  border-radius: 10px;
}

#filemgr .breadcrumbsection > #mkdir {
  float: right;
  background-color: #444;
  color: #FFF;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

#filemgr .breadcrumbsection > #mkdir:hover {
  background-color: #222;
}

#filemgr .breadcrumbsection > #mkdir:active {
  background-color: #101010;
}

#filemgr #breadcrumbs > li {
  display: block;
  float: left;
}

#filemgr #breadcrumbs > li a {
  display: block;
  text-decoration: none;
  color: #000;
}

#filemgr #breadcrumbs > li a:hover {
  text-decoration: underline;
}

#filemgr #breadcrumbs > li.sep {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 8px;
}

#filemgr #filelist.icons > li {
  float: left;
  margin: 10px;
  padding-top: 34px;
  width: 120px;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 0.8em;
}

#filemgr #filelist.icons li.file {
    background-image: url('../img/file_32x32.png');
}

#filemgr #filelist.icons li.dir {
    background-image: url('../img/folder_32x32.png');
}

#filemgr #filelist.list > li {
  float: left;
  margin: 10px;
  padding-left: 20px;
  width: 150px;
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 1em;
}

#filemgr #filelist.list > li.file {
  background-image: url('../img/file_16x16.png');
} 

#filemgr #filelist.list li.dir {
    background-image: url('../img/folder_16x16.png');
}

#filemgr #filedetails {
  margin: 20px 30px 10px 30px;
  width: 45%;
  border: 3px solid #111;
  padding: 5px;
  box-shadow: 5px 1px 5px #888;
  background-color: #F5F5F5;
  z-index: 2;
  position: absolute;
  right: 0;
}

#filemgr #filedetails .filedetailsclose {
  cursor: pointer;
  float: right;
  padding: 4px;
  display: block;
  border-radius: 4px;
}

#filemgr #filedetails .filedetailsclose:hover {
  background-color: #990000;
  color: #FFF;
}

#filemgr #filedetails a {
  background-color: #444;
  color: #FFF;
  display: block;
  float: left;
  margin: 3px 5px 3px 0;
  padding: 3px 12px;
  text-decoration: none;
  border-radius: 10px;
}

#filemgr #filedetails a:hover {
  background-color: #222;
}

#filemgr #filedetails a:active {
  background-color: #101010;
}