/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

#webfilez, 
#webfilez div,
#webfilez span,
#webfilez applet,
#webfilez object,
#webfilez iframe,
#webfilez h1,
#webfilez h2,
#webfilez h3,
#webfilez h4,
#webfilez h5,
#webfilez h6,
#webfilez p,
#webfilez blockquote,
#webfilez pre,
#webfilez a,
#webfilez abbr,
#webfilez acronym,
#webfilez address,
#webfilez big,
#webfilez cite, 
#webfilez code,
#webfilez del,
#webfilez dfn,
#webfilez em,
#webfilez img,
#webfilez ins,
#webfilez kbd,
#webfilez q,
#webfilez s,
#webfilez samp,
#webfilez small,
#webfilez strike,
#webfilez strong,
#webfilez sub,
#webfilez sup,
#webfilez tt,
#webfilez var,
#webfilez b,
#webfilez u,
#webfilez i,
#webfilez center,
#webfilez dl,
#webfilez dt,
#webfilez dd,
#webfilez ol,
#webfilez ul,
#webfilez li,
#webfilez fieldset,
#webfilez form,
#webfilez label,
#webfilez legend,
#webfilez table,
#webfilez caption,
#webfilez tbody,
#webfilez tfoot,
#webfilez thead,
#webfilez tr,
#webfilez th,
#webfilez td,
#webfilez article,
#webfilez aside,
#webfilez canvas,
#webfilez details,
#webfilez figcaption,
#webfilez figure,
#webfilez footer,
#webfilez header,
#webfilez hgroup,
#webfilez menu,
#webfilez nav,
#webfilez section,
#webfilez summary,
#webfilez time,
#webfilez mark,
#webfilez audio,
#webfilez video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
#webfilez article,
#webfilez aside,
#webfilez details,
#webfilez figcaption,
#webfilez figure,
#webfilez footer,
#webfilez header,
#webfilez hgroup,
#webfilez menu,
#webfilez nav,
#webfilez section {
  display:block;
}

#webfilez ol,
#webfilez ul {
  list-style:none;
}
#webfilez blockquote,
#webfilez q {
  quotes:none;
}
#webfilez blockquote:before,
#webfilez blockquote:after,
#webfilez q:before,
#webfilez q:after {
  content:'';
  content:none;
}

#webfilez ins {
  text-decoration:none;
}
#webfilez del {
  text-decoration:line-through;
}

#webfilez table {
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  CLEARFIX
\*------------------------------------*/

#webfilez .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
#webfilez .clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

#webfilez .clear {
  clear: both;
  display: block;
  height: 1px;
  color: transparent;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/

#webfilez {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
  line-height:1;
  border: 4px solid #666;  
  height: 400px;
}

/* ===== Layout ====== */

#webfilez > header {
  background-color: #333;
  color: #FFF;
  padding: 5px;
  border-bottom: 1px solid #000;
}

#webfilez > footer {
  display: none;
  height: 0;
  background-color: #333;
  border-top: 1px solid #000;
  color: #FFF;
  padding: 5px;
  font-size: 0.9em;
}

#webfilez > header a,
#webfilez > footer a {
  color: #FFF;
}

#webfilez > #uploader {
  float: left;
  width: 300px;
  background-color: #F2F2F2;
  box-shadow: 5px 1px 5px #888;
}

#webfilez > #filemgr {
  float: none;
  margin-left: 320px
}

/* ==== Uploader ==== */
#webfilez #uploader #current_upload {
  background-color: #CCC;
  margin: 8px;
  padding: 5px;
}

#webfilez #uploader #current_upload #current_upload_status {
  margin: 4px;
  display: block;
}

#webfilez #uploader #current_upload #upload_start {
  float: right;
}

#webfilez #uploader #queue_status {
  margin: 8px;
  padding: 5px;
}

#webfilez #uploader #upload_queue {
  margin: 8px;
  overflow-y: scroll;
}

#webfilez #uploader #upload_queue.nofiles {
  background-image: url('../img/dragdropmsg.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#webfilez #uploader #file_button_form {
  margin: 8px;
  padding: 4px 0;
  position: relative;
  background-color: #999;
  border-radius: 10px;
  text-align: center;
}

#webfilez #uploader #file_button_form > label {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

#webfilez #uploader #file_button_form > input {
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  cursor: pointer !important;
}


#webfilez #filemgr {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

#webfilez #filemgr .breadcrumbpanel {
  display: block;
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

#webfilez #filemgr .breadcrumbsection {
  margin: 10px;
  background-color: #CCC;
  padding: 10px 15px 3px 15px;
  border-radius: 10px;
}

#webfilez #filemgr .breadcrumbsection > #mkdir {
  float: right;
  background-color: #444;
  color: #FFF;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

#webfilez #filemgr .breadcrumbsection > #mkdir:hover {
  background-color: #222;
}

#webfilez #filemgr .breadcrumbsection > #mkdir:active {
  background-color: #101010;
}

#webfilez #filemgr #breadcrumbs > li {
  display: block;
  float: left;
}

#webfilez #filemgr #breadcrumbs > li a {
  display: block;
  text-decoration: none;
  color: #000;
}

#webfilez #filemgr #breadcrumbs > li a:hover {
  text-decoration: underline;
}

#webfilez #filemgr #breadcrumbs > li.sep {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 8px;
}

#webfilez #filemgr #filelist.icons > li {
  float: left;
  margin: 10px;
  padding-top: 34px;
  width: 120px;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 0.8em;
}

#webfilez #filemgr #filelist.icons li.file {
    background-image: url('../img/file_32x32.png');
}

#webfilez #filemgr #filelist.icons li.dir {
    background-image: url('../img/folder_32x32.png');
}

#webfilez #filemgr #filelist.list > li {
  float: left;
  margin: 10px;
  padding-left: 20px;
  width: 150px;
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 1em;
}

#webfilez #filemgr #filelist.list > li.file {
  background-image: url('../img/file_16x16.png');
} 

#webfilez #filemgr #filelist.list li.dir {
    background-image: url('../img/folder_16x16.png');
}

#webfilez #filemgr #filedetails {
  margin: 20px 30px 10px 30px;
  width: 45%;
  border: 3px solid #111;
  padding: 5px;
  box-shadow: 5px 1px 5px #888;
  background-color: #F5F5F5;
  z-index: 2;
  position: absolute;
  right: 0;
}

#webfilez #filemgr #filedetails .filedetailsclose {
  cursor: pointer;
  float: right;
  padding: 4px;
  display: block;
  border-radius: 4px;
}

#webfilez #filemgr #filedetails .filedetailsclose:hover {
  background-color: #990000;
  color: #FFF;
}

#webfilez #filemgr #filedetails a {
  background-color: #444;
  color: #FFF;
  display: block;
  float: left;
  margin: 3px 5px 3px 0;
  padding: 3px 12px;
  text-decoration: none;
  border-radius: 10px;
}

#webfilez #filemgr #filedetails a:hover {
  background-color: #222;
}

#webfilez #filemgr #filedetails a:active {
  background-color: #101010;
}

/*------------------------------------*\
  IMPROMPTU.JS
\*------------------------------------*/
.jqifade{
  position: absolute; 
  background-color: #777777; 
}
div.jqi{ 
  width: 400px; 
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
  position: absolute; 
  background-color: #ffffff; 
  font-size: 11px; 
  text-align: left; 
  border: solid 1px #eeeeee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 7px;
}
div.jqi .jqicontainer{ 
  font-weight: bold; 
}
div.jqi .jqiclose{ 
  position: absolute;
  top: 4px; right: -2px; 
  width: 18px; 
  cursor: default; 
  color: #bbbbbb; 
  font-weight: bold; 
}
div.jqi .jqimessage{ 
  padding: 10px; 
  line-height: 20px; 
  color: #444444; 
}
div.jqi .jqibuttons{ 
  text-align: right; 
  padding: 5px 0 5px 0; 
  border: solid 1px #eeeeee; 
  background-color: #f4f4f4;
}
div.jqi button{ 
  padding: 3px 10px; 
  margin: 0 10px; 
  background-color: #2F6073; 
  border: solid 1px #f4f4f4; 
  color: #ffffff; 
  font-weight: bold; 
  font-size: 12px; 
}
div.jqi button:hover{ 
  background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
  background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons{ 
  background-color: #BF5E26;
}

.jqi .jqiarrow{ position: absolute; height: 0; width:0; line-height: 0; font-size: 0; border: solid 10px transparent;}

.jqi .jqiarrowtl{ left: 10px; top: -20px; border-bottom-color: #ffffff; }
.jqi .jqiarrowtc{ left: 50%; top: -20px; border-bottom-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowtr{ right: 10px; top: -20px; border-bottom-color: #ffffff; }

.jqi .jqiarrowbl{ left: 10px; bottom: -20px; border-top-color: #ffffff; }
.jqi .jqiarrowbc{ left: 50%; bottom: -20px; border-top-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowbr{ right: 10px; bottom: -20px; border-top-color: #ffffff; }

.jqi .jqiarrowlt{ left: -20px; top: 10px; border-right-color: #ffffff; }
.jqi .jqiarrowlm{ left: -20px; top: 50%; border-right-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowlb{ left: -20px; bottom: 10px; border-right-color: #ffffff; }

.jqi .jqiarrowrt{ right: -20px; top: 10px; border-left-color: #ffffff; }
.jqi .jqiarrowrm{ right: -20px; top: 50%; border-left-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowrb{ right: -20px; bottom: 10px; border-left-color: #ffffff; }

