/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

/* ===== Layout ====== */

body > header {
  background-color: #F1F1F1;
  border-bottom: 1px solid #000;
}

body > footer {
  clear: both;
  background-color: #E4E4E4;
  border-top: 1px solid #000;
}

#main {
  clear: both;
}

#main > #uploader {
  float: left;
  width: 300px;
  background-color: #F2F2F2;
  box-shadow: 5px 1px 5px #888;
}

#main > #filemgr {
  float: none;
  margin-left: 320px
}

/* ==== Uploader ==== */
#uploader #current_upload {
  background-color: #999;
  margin: 8px;
  padding: 5px;
}

#uploader #upload_queue {
  margin: 8px;
  overflow-y: scroll;
}

#filemgr {
  margin: 0;
  padding: 0;
}

#filemgr #filelist.icons > li {
  float: left;
  margin: 10px;
  padding-top: 34px;
  width: 120px;
  text-align: center;
  background-image: url('../img/file_32x32.png');
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 0.8em;
}

#filemgr #filelist.list > li {
  float: left;
  margin: 10px;
  padding-left: 20px;
  width: 150px;
  background-image: url('../img/file_16x16.png');
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 1em;
}